body {
  background-color: #262626;
}
nav{
  background-color: #3b3b3b;
  color: white;
  font-size:50px;
}
.navbar-brand {
  background-color: #F47A20;
  color:white;
  width: 220px;
}
.navbar-text {
  height:10px;
}
.logo {
  max-width:230px;
}
.clock {
  position: absolute;
  right:7px;
  top:8px;
}
.col-md-6 {
	padding-left: 15px;
	padding-right: 15px;
}


#containerContent {
	margin-top: 120px;
}

		.row > div {
			margin-bottom: 15px;
		}

		.sidebar {
			min-height: 300px;
			background: #dbdfe5;
		}

		.content-top {
			padding: 9px;
			min-height: 350px;
      background-color: #3b3b3b;
			/*background-image: url('../images/texture.png');*/
			color: white;
		}

		.content-bottom {
			padding: 6px;
			min-height: 125px;
      background-color: #3b3b3b;
			/*background-image: url('../images/texture.png');*/
/*			background-color: rgba(0, 22, 44, 0.8);*/
			margin-bottom: -15px;
			color:white;
		}

    .titles {
      height:45px;
      background-color: #F47A20;
      color:white;
    }
    #news {
      max-height: 600px;
      overflow: hidden;
    }
    ul {
      list-style-type: none;
    }
    li {
      padding: 4px 0px 4px 0px;

    }

    #news li a{
      color:white;

    }
    #news img {
      width: 100%;
    }

    #weather input {
      color:black;
    }

    #twitter {
      max-height: 535px;
      overflow: hidden;
    }

.App {
  /*text-align: center;*/
}
#hidden{
  display: none
}
#hiddenn{
    display: block
}
